html { 
	box-sizing: border-box;
	background-color: white;
	font-family: helvetica, sans-serif;
	/*font-family: 'Lobster', cursive;*/
	color: grey; /*This is the color for fonts*/
	height: 100vh;
}
*, *::before, *::after {
	box-sizing: inherit;
}

h1, h2, h3{
	font-family: 'lobster', cuesive;
	color: grey;
}
h1{
	color: white;
	text-align: center;
	padding-bottom: 5em;
	background-color: black;
}

a:hover{
	color: orange;
}
b{
	color: grey;
}
em{
	color: grey;
}

.Name{
	text-align: right;
}

blockquote{
	font-family: cursive;
	font-size: 2rem;
}
ul{
	list-style-type: lower-roman;
}
dt{
	font-weight: bold;
	color: black;
}
ol{
	list-style: circle;
}
figurecaption{
	font-style: italic;
	color: grey;
}
i{
	font-style: italic;
}
span{
	font-style: bolder;
	color: black;
	font-size: 3rem;
}
nav li {
	display: inline;
}

nav a {
	text-align: center;
	display: inline-block;
	padding: 0.5em;
	color: white;
	text-decoration: none;
	margin: .1em;
	border-radius: .45em;
	background-color: lightgrey;
	
}

footer {
		background-color: #79756f;
		padding: 1em;
}
footer h2{
	color: white;
	margin: 0;
}
footer ol{
	margin: 0;
	padding: 0 1rem;
}

figure {
	border: 1px solid #79756f;
	border-radius: .4em;
	padding:1em;
}
img {width:100%;}

