html { 
	box-sizing: border-box;
	background-color: white;
	font-family: helvetica, sans-serif;
	/*font-family: 'Lobster', cursive;*/
	color: grey; /*This is the color for fonts*/
	height: 100vh;
}
*, *::before, *::after {
	box-sizing: inherit;
}

h1{
	font-family: 'lobster', cuesive;
}

h2, h3{
	font-family: 'lobster', cuesive;
	color: grey;
}

header{
	background-color: black;
	text-align: center;
	display:block;
	padding: .25em;}
	
	body {margin:0;}

header h1{
	color: white;
	margin: 0;}

main {padding: .5em;

}

a:hover{
	color: orange;
}
b{
	color: grey;
}
em{
	color: grey;
}

.Name{
	text-align: right;
}

blockquote{
	font-family: cursive;
	font-size: 2rem;
}
ul{
	list-style-type: lower-roman;
}
dt{
	font-weight: bold;
	color: black;
}
dd{
	margin: 0;
}
ol{
	list-style: circle;
}
figurecaption{
	font-style: italic;
	color: grey;
}

i{
	font-style: italic;
}
dl{
	text-align: left;
}
span{
	font-style: bolder;
	color: black;
	font-size: 3rem;
}

nav li {
	display: inline-block;
}

nav ul{
	text-align: center;
}

nav a {
	
	display: inline-block;
	padding: 0.4em;
	color: white;
	text-decoration: none;
	margin: .3em;
	border-radius: .45em;
	background-color: lightgrey;	
}

footer {
		background-color: black;
		padding: 1em 3em 3em;
}

footer h2{
	color: white;
	margin: 0;
}

footer ol{
	margin: 0;
	padding: 0 1rem;
}

figure {
	border: 1px solid black;
	border-radius: .4em;
	padding:1em;
}

img {width:100%;}
